<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
<title></title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <br/>
<style type="text/css">
	p 	.ft10{font-size:14px;font-family:Times;color:#000000;}
	.ft11{font-size:16px;font-family:Times;color:#000000;}
	.ft12{font-size:14px;font-family:Times;color:#000000;}
	.ft13{font-size:16px;font-family:Times;color:#000000;}
	.ft14{font-size:14px;font-family:Times;color:#000000;}
	.ft15{font-size:14px;line-height:24px;font-family:Times;color:#000000;}

</style>
</head>
<body>
<div style="display: flex; justify-content:center;">
<div style="flex-direction: column;">
<p style="text-align:center" class="ft11"><b>AUTODICHIARAZIONE AI SENSI DEGLI ARTT. 46 E 47 D.P.R. N. 445/2000 </b></p>
<br>

<p  class="ft10">Il/La sottoscritto/a     _______________{{form_data.first_name + ' ' + form_data.last_name }} ________________ , nato/a il {{form_data.birth_date.day}} . {{form_data.birth_date.month}} . {{form_data.birth_date.year}} </p>
<br>
<p class="ft10">a ___________{{form_data.birth_place}}____________ {{form_data.birth_province}}, residente in _____________{{form_data.first_home_municipal}}_____________ </p>
<br>
<p  class="ft10"></p>
<p  class="ft10">{{form_data.first_home_province}}, via ______________{{form_data.first_home_address}}_____________________ e domiciliato/a in _______________{{form_data.second_home_municipal}}_______________</p>
<br>
<p class="ft10">{{form_data.second_home_province}}, via __________{{form_data.second_home_address}}____________, identificato/a a mezzo __________{{form_data.document_type}}__________ </p>
<br>

<p  class="ft10">nr. _______________{{form_data.document_number}}________________, rilasciato da ________________{{form_data.document_publisher}}______________________  </p>
<br>

<p class="ft10">in data {{form_data.identity_document_date_day}} . {{form_data.identity_document_date_month}} . {{form_data.identity_document_date_year}} , utenza telefonica {{form_data.phone_number}} , consapevole delle conseguenze penali </p>
<br>

<p class="ft10">previste in caso di dichiarazioni mendaci a pubblico ufficiale <b>(art. 495 c.p.)</b> </p>
<br>
<p style="text-align: center;"  class="ft12"><b>DICHIARA SOTTO LA PROPRIA RESPONSABILITÀ </b></p>
<br>

<p class="ft12">➢ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u><b>di essere a conoscenza delle misure normative di contenimento del contagio da COVID-19 vigenti alla</b></u></p>
<p  class="ft12"><u><b>data odierna, concernenti le limitazioni alla possibilità di spostamento delle persone fisiche all’interno del </b></u></p>
<p class="ft12"><u><b>territorio nazionale;</b></u></p>

<br>


	<p  class="ft12">➢ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u><b>di essere a conoscenza delle altre misure e limitazioni previste da ordinanze o altri provvedimenti</b></u></p>
	<p  class="ft12"><u><b>amministrativi adottati dal Presidente della Regione o dal Sindaco ai sensi delle vigenti normative; </b></u></p>


<br>

<p  class="ft12">➢ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u><b>di essere a conoscenza delle sanzioni previste dall’art. 4 del decreto-legge 25 marzo 2020, n. 19, e dall’art.</b></u></p>
<p class="ft12"><u><b>2 del decreto-legge 16 maggio 2020, n. 33;</b></u></p>
<br>

<p  class="ft12">➢<b>&nbsp;che lo spostamento è determinato da:</b></p>
<br>
<p class="ft12"><b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- comprovate esigenze lavorative;</b></p>
<br>
<p class="ft12"><b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- motivi di salute;</b></p>
<br>
<p  class="ft12"><b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- altri motivi ammessi dalle vigenti normative ovvero dai predetti decreti, ordinanze e altri</b></p>
<p  class="ft15"><b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;provvedimenti che definiscono le misure di prevenzione della diffusione del contagio;<br/></b><i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;(specificare il motivo che determina lo spostamento):</i></p>
<br>
<br>
<p  class="ft12"><b>________________________________________________________________________________________________; </b></p>
<p  class="ft12"><b>➢ che lo spostamento è iniziato da </b><i>(indicare l’indirizzo da cui è iniziato)</i></p>
<br>
<br>

<p class="ft12"><b>________________________________________________________________________________________________; </b></p>

<p  class="ft12"><b>➢ con destinazione </b><i>(indicare l’indirizzo di destinazione)</i></p>
<br>
<br>
<p  class="ft12"><b>________________________________________________________________________________________________;</b></p>
<p  class="ft12"><b>➢in merito allo spostamento, dichiara inoltre che:</b></p>
<br>
<br>
<p  class="ft12"><b>________________________________________________________________________________________________.</b></p>
<br>
<br>
<p  class="ft12"><b>Data, ora e luogo del controllo </b></p>
<p class="ft10">Firma del dichiarante </p>
<p  class="ft10">L’Operatore di Polizia </p>
</div>
</div>
</body>
</html>
